<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJVgNlPdmOCnl0vpLAbWCfeUi2tIkSo40</string>
	<key>GCM_SENDER_ID</key>
	<string>647755692735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ember</string>
	<key>PROJECT_ID</key>
	<string>ember-fin-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>ember-fin-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647755692735:ios:84ddb53dd4de4d3a0be40a</string>
</dict>
</plist>